{{ template "header.html" . }}
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Platform</th>
      <th scope="col">Name</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
{{ with .List }}
{{ range . }}
    <tr onclick="window.location='message?contact={{ .ContactID }}';">
      <!-- TODO: unread msg symbol -->
      <th scope="row"></th>
      <td>{{ .Platform }}</td>
      <td>{{ .Displayname }}</td>
      <td>{{ .Username }}</td>
    </tr>
{{ end }}
{{ end }}
  </tbody>
</table>
{{ template "footer.html" . }}

