{{ template "header.html" . }}
    <div class="text">
        Webmsg - Messaging on the web!                                                  <br />
        Copyright (c) 2018 Accelerate Networks                                          <br />

        Domain Statistics is free software; you can redistribute it                     <br />
        and/or modify it under the terms of the GNU Affero General Public               <br />
        License as published by the Free Software Foundation; either                    <br />
        version 3 of the License, or (at your option) any later version.                <br />

        Domain Statistics is distributed in the hope that it will be useful,            <br />
        but WITHOUT ANY WARRANTY; without even the implied warranty of                  <br />
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU               <br />
        Affero General Public License for more details.                                 <br />

        You should have received a copy of the GNU Affero General Public                <br />
        License along with Domain Statistics. If not, see https://www.gnu.org/licenses/.<br />
    </div>
{{ template "footer.html" . }}
