{{ template "header.html" . }}
    <form method="post">
      <div class="form-group">
        <label for="user">Username</label>
        <input type="user" class="form-control" name="user" aria-describedby="userHelp" placeholder="Enter username">
        <small id="userHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
     <button type="submit" formethod="post" class="btn btn-primary">Submit</button>
    </form>
{{ template "footer.html" . }}
