    <div>
    <!--
        1. Set up Chat window
        2. Set up typing box, send button, and maybe attachment upload
        3. Hook up send to send() in script
    -->
    </div>
    <script>
      //TODO:
      // 1. Connect to websocket
      // 2. Implement onmessage to append to chat window
      // 3. Implement send() function
    </script>
{{ template "header.html" . }}
<div class="header">
  <div class="left returntomenu"><a href="/main.html">&larr;</a></div>

  <div class="center">
    <span class="contact name">{{ .contact.name }}</span><br />
    <span class="contact identifier">{{ .contact.identifier }}</span>
  </div>

  <div class="right">
    <div class="right connectivity">Connecting...</div><br />
    <div class="right"><a href="#" class="edit" data-identifier="{{ .contact.identifier }}" data-name="{{ .contact.name }}">Set Contact Name</a></div>
  </div>
</div>
<div class="msg-thread" data-identifier="{{ .contact.identifier }}">
<!-- {% for message in thread %}
    <div class="msg {% if message.inbound %}inbound{% else %}outbound{% endif %}" data-id="{{ message.id}}">
        <div class="msg-top">{% if message.inbound %}{{ .contact.identifier }}{% else %}Me{% endif %}</div>
        <img src="https://via.placeholder.com/50x50" class="circle contact-photo" />
        <div class="msg-text">
            {% if message.attachment is not none %}
            <img src="{{ message.attachment.static_path }}" class="attachment" /><br />
            {% endif %}
            {% if message.text is not none %}{{ message.text }}{% endif %}
            <div class="timestamp" data-livestamp="{{ message.get_timestamp() }}"></div>
        </div>
    </div>
{% endfor %} -->
</div>
<div class="bottom">
  <textarea class="textinput" autofocus="autofocus" data-to="{{ .contact.identifier }}" data-from="{{ .source }}" placeholder="Sending as {{ .identifier }}"></textarea>
  <div class="boxbottom">
    <span id="charcount">0 / 160</span>
  </div>
{{ template "footer.html" . }}
